<p class="main-app">
  <mat-toolbar color="primary">
    <span style="padding-left: 2rem"> Currency exchange rates </span>
    <mat-divider class="divider" vertical></mat-divider>
    <span> <a routerLink="/tableA" mat-button>Table A</a> </span>
    <span> <a routerLink="/tableB" mat-button>Table B</a> </span>
    <span> <a routerLink="/tableC" mat-button>Table C</a> </span>
    <span> <a routerLink="/tableTimeSeries" mat-button>Time Series</a> </span>
  </mat-toolbar>
  <router-outlet></router-outlet>
</p>
