<div class="main-container">
  <mat-form-field appearance="fill">
    <mat-label>Select Table</mat-label>
    <mat-select (valueChange)="changeTable($event)">
      <mat-option
        *ngFor="let selectedTable of tables"
        [value]="selectedTable"
        >{{ selectedTable }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>select Currency</mat-label>
    <mat-select (valueChange)="changeCurrency($event)">
      <mat-option
        *ngFor="let tableCurrency of currencies"
        [value]="tableCurrency.code"
        >{{ tableCurrency.code }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select date from</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="dateFrom"
      [max]="maxDate"
      [min]="minDate"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select date to</mat-label>
    <input
      matInput
      [matDatepicker]="picker1"
      [(ngModel)]="dateTo"
      [max]="maxDate"
      [min]="minDate"
    />
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <button mat-button (click)="updateChart()">Search</button>
  <span style="color: red"> {{ this.validation() }}</span>
</div>

<h1 style="padding-left: 3rem">Search Result</h1>
<!-- Search results + chart -->
<div class="container2">
  <div *ngIf="this.isVisible">
    <mat-table
      [dataSource]="dataSource"
      matSort
      #currSort="matSort"
      matSortActive="effectiveDate"
      matSortDirection="desc"
    >
      <ng-container matColumnDef="effectiveDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let curr">{{ curr.effectiveDate }}</td>
      </ng-container>
      --- --
      <ng-container matColumnDef="mid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mid</th>
        <td mat-cell *matCellDef="let curr">{{ curr.mid }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
    </mat-table>
  </div>
  <div id="divChart">
    <canvas id="myChart"></canvas>
  </div>
</div>
